/* Reset default margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set full height for html and body */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Wrapper for content */
.wrapper {
    flex: 1; /* Makes the content area expand to fill the available space */
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: url('background.jpg') center/cover no-repeat fixed;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Header Styles */
header h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
}

/* List Group Item Styles */
.list-group-item {
    background-color: rgba(27, 42, 52, 0.9);
    color: #FFFFFF;
    font-size: 1.5em;
    border: 2px solid rgba(8, 85, 154, 0.7);
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: rgba(8, 85, 154, 0.9);
    transform: scale(1.05);
}

/* Footer Styles */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    flex-shrink: 0; /* Prevents shrinking */
}

/* Footer Link Styles */
#mailme {
    font-weight: bold;
}

#mailme:hover {
    color: #FFFFFF;
}
