@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Squada One', sans-serif;
  background-color: #100F13;
}

/* Блок с фоном и контентом */
.hero-section {
  width: 100%;
  min-height: 100vh;
  background: url('img/background/backgroundPython.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero-content {
  max-width: 900px;
  margin-left: 100px;
}

.hero-title {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 64px;
  color: #B87839;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 64px;
  color: #FFFFFF;
  line-height: 1.2;
}

/* Секция Services */
.services-section {
  padding: 50px 0;
  text-align: center;
}

.services-title {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 50px;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px; /* Уменьшаем промежуток между элементами */
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%; /* Устанавливаем максимальную ширину, чтобы два элемента влезали в строку */
}

.service-icon {
  width: 250px;
  height: 250px; /* Уменьшаем размер иконки */
  border-radius: 50%;
  background-color: #B87839;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.service-icon img {
  max-width: 70%;
  max-height: 70%;
}

.service-text {
  font-size: 48px;
  color: #FFFFFF;
}

/* Секция Subscription options */
.subscription-section {
  padding: 50px 0;
  text-align: center;
}

.subscription-title {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 60px;
}

.subscriptions-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.subscription-card {
  background-color: #B87839;
  border-radius: 20px;
  width: 550px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card-title {
  font-size: 64px;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

.card-list {
  list-style: disc outside;
  margin-bottom: 20px;
  margin-left: 25px;
}

.card-list li {
  font-size: 40px;
  color: #FFFFFF;
  margin: 10px 0;
  line-height: 1.2;
}

.card-read-more {
  font-size: 40px;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.card-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-price {
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.buy-button {
  font-family: 'Squada One', sans-serif;
  display: block;
  margin: 0 auto;
  font-size: 64px;
  width: 250px;
  height: 100px;
  color: #000;
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

/* Секция Reviews */
.reviews-section {
  padding: 50px 0;
  text-align: center;
}

.reviews-title {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 60px;
}

.reviews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.review-card {
  background-color: #B87839;
  width: 400px;
  height: 800px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.review-avatar {
  width: 255px;
  height: 255px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.review-name {
  font-size: 64px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.review-text {
  font-size: 40px;
  color: #FFFFFF;
  line-height: 1.1;
  margin-bottom: 20px;
}

/* Секция News */
.news-section {
  padding: 50px 0;
  text-align: center;
}

.news-title {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 60px;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.news-item {
  background-color: #B87839;
  width: 100%;
  max-width: 1600px;
  height: 350px;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 55px;
  padding: 30px;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
}

.news-image {
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-radius: 55px;
  margin-right: 50px;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.news-heading {
  font-size: 64px;
  color: #FFFFFF;
  margin-left: 50px;
}

.news-text {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 50px;
}

.news-date {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 50px;
}

/* Секция Contact Us */
.contact-section {
  padding: 50px;
  color: #FFFFFF;
}

.contact-title {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 60px;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.contact-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info h3 {
  font-size: 128px;
  color: #B87839;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 40px;
  margin-bottom: 15px;
}

.social-media {
  margin-top: 20px;
}

.social-icon {
  font-size: 40px;
  color: #3D86BB;
  margin-right: 20px;
  text-decoration: none;
}

.social-icon:hover {
  color: #B87839;
}

.contact-map h3 {
  font-size: 128px;
  color: #B87839;
}

.contact-map iframe {
  width: 100%;
  height: 241%;
  border-radius: 15px;
}

.contact-form {
    width: 100%;
    max-width: 1000px;
    text-align: left;
  }
  
  .contact-form h3 {
    font-size: 128px;
    color: #B87839;
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #B87839;
    border-radius: 15px;
    background-color: #333;
    color: #FFFFFF;
    font-size: 40px;
  }

  .contact-form textarea {
    resize: vertical;
  }
  
  .submit-button {
    font-size: 40px;
    background-color: #B87839;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #9e6331;
  }

/* Footer */
.footer {
  background-color: #B87839;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center; /* Выравнивание по центру */
  padding: 20px;
  font-size: 32px;
  margin-top: 50px;
  width: 100%; /* Растягиваем футер на всю ширину */
  position: relative;
}

/* Адаптивность для экранов до 1200px */
@media (max-width: 1200px) {
  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  .contact-map iframe {
    height: 150%;
  }
}

/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
  .contact-title {
    font-size: 80px;
  }

  .footer {
    font-size: 24px;
  }

  .services-title {
    font-size: 100px;
  }

  .services-container {
    gap: 50px;
  }

  .service-item {
    max-width: 250px;
  }

  .subscription-title {
    font-size: 100px;
  }

  .subscription-card {
    width: 450px;
    padding: 20px;
  }

  .card-title {
    font-size: 48px;
  }

  .card-list li {
    font-size: 36px;
  }

  .review-card {
    width: 350px;
    height: 700px;
  }

  .news-title {
    font-size: 100px;
  }

  .news-item {
    flex-direction: column;
    align-items: center;
  }

  .news-image {
    width: 300px;
    height: 200px;
  }

  .news-heading {
    font-size: 48px;
  }

  .news-text {
    font-size: 32px;
  }

  .news-date {
    font-size: 48px;
  }

  .contact-title {
    font-size: 100px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-info,
  .contact-form {
    width: 90%;
  }

  .social-icon {
    font-size: 30px;
  }

  .contact-map iframe {
    height: 150%;
  }

  .footer {
    font-size: 20px;
  }
}

/* Адаптивность для экранов до 480px */
@media (max-width: 480px) {
  .hero-title {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 32px;
  }

  .hero-text {
    font-size: 30px;
  }

  .services-title {
    font-size: 70px;
  }

  .services-container {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    max-width: 200px;
  }

  .subscription-title {
    font-size: 70px;
  }

  .subscription-card {
    width: 100%;
    padding: 15px;
  }

  .card-title {
    font-size: 32px;
  }

  .card-list li {
    font-size: 28px;
  }

  .review-card {
    width: 250px;
    height: 500px;
  }

  .news-title {
    font-size: 70px;
  }

  .news-item {
    flex-direction: column;
    align-items: center;
  }

  .news-image {
    width: 200px;
    height: 120px;
  }

  .news-heading {
    font-size: 32px;
  }

  .news-text {
    font-size: 24px;
  }

  .news-date {
    font-size: 40px;
  }

  .contact-title {
    font-size: 70px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  .social-icon {
    font-size: 25px;
  }

  .contact-map iframe {
    height: 120%;
  }

  .footer {
    font-size: 20px;
  }
}
