* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Шапка */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; /* фиксированная высота */
  background-color: #000C1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}


/* Логотип или название */
.header-logo h2 {
  color: #ffffff;
  margin: 20px;
  font-size: 48px;
}

/* Навигация в шапке */
.header-nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
  font-size: 32px;
  transition: color 0.2s;
}

.header-nav a:hover {
  color: #e20016;
}

/* Кнопка переключения языка можно выделить отдельным классом */
.language-toggle {
  border: 2px solid #e20016;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.language-toggle:hover {
  background-color: #e20016;
  color: #ffffff;
}

body {
  font-family: 'Odibee Sans', sans-serif;
  margin: 0;
}

.hero {
  position: relative;
  min-height: 1080px;
  width: 100%;
  background: #e20016 url("img/background/Signalis_Header-cropped.webp") no-repeat center center;
  background-size: cover;
}

.text-block {
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  left: 2.5%;
  top: 7%;
  width: 50%;
  font-size: min(15vw, 256px);
}

.dev {
  position: absolute;
  left: 12.5%;
  top: 30%;
  width: 45.5%;
  font-size: min(5vw, 64px);
}

.published {
  position: absolute;
  left: 14.5%;
  top: 37%;
  width: 45.5%;
  font-size: min(4.5vw, 64px);
}

.and-playism {
  position: absolute;
  left: 29.5%;
  top: 43%;
  width: 35.5%;
  font-size: min(4.5vw, 64px);
  text-align: right;
}

.release {
  position: absolute;
  left: 12.5%;
  top: 49%;
  width: 47.5%;
  font-size: min(4.5vw, 64px);
}

.keywords {
  left: 0;
  top: 1005px;
  width: 100%;
  height: 75px;
  font-size: 30px;
  background-color: rgba(31, 41, 51, 0.77);
  justify-content: center;
}

.features-section {
  background-color: #e20016;
  color: #fff;
  padding: 40px 80px;
}

.features-content {
  padding: 10px 200px;
  margin: 0 auto;
}

.features-content h2 {
  font-size: 96px;
  margin-bottom: 20px;
}

.features-content p {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.trailer-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.trailer-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.screenshots-section {
  background-color: #e20016;
  padding: 40px 20px;
  text-align: center;
}

.screenshots-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.screenshots-header h2 {
  font-size: 256px;
  color: #fff;
  margin: 0 20px;
}

.screenshots-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1920px;
  margin: 0 auto;
}

.screenshots-grid img {
  width: 100%;
  height: auto;
  border: 3px solid #000C1A;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 15px;
}

.reviews-section {
  background-color: #e20016;
  padding: 60px 20px;
  text-align: center;
}

.reviews-section h2 {
  font-size: 256px;
  color: #fff;
  margin-bottom: 40px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: auto;
  margin: 0 auto;
}

.review-card {
  display: flex;
  justify-content: center;
}

.review-circle {
  background-color: #000C1A;
  color: #ffffff;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.review-circle p {
  width: 350px;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.review-circle span {
  font-size: 24px;
}

.footer {
  background-color: #000C1A;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-icons img {
  width: 50px;
  height: auto;
  margin: 0px 15px;
}

.footer-text {
  font-size: 32px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 976px) {
  .buttons-container {
    display: none;
  }
  .features-section {
    padding: 10px 10px;
  }
  .features-content {
    padding: 10px 50px;
  }
  .features-content h2 {
    font-size: 32px;
  }
  .features-content p {
    font-size: 18px;
  }
  .trailer-section {
    padding: 20px 0;
  }
  .screenshots-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .screenshots-header h2 {
    font-size: 64px;
  }
  .reviews-section h2 {
    font-size: 64px;
  }
  .review-circle {
    width: 300px;
    height: 300px;
  }
  .review-circle p {
    width: 220px;
    font-size: 18px;
  }
  .review-circle span {
    font-size: 16px;
  }
  .footer-text {
    font-size: 16px;
  }
  .social-icons img {
    width: 25px;
    margin: 0 4px;
  }
}

@media (max-width: 1820px) {
  .reviews-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 1919px) {
  .keywords {
    display: none;
  }
}
